//---------------------------------------------fonts
$font_path: "../../fonts/";
$font_1: 'RobotoMono', sans-serif;
$font_size_base: 1.4rem;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$black: #000;

$blue_1: #3252C7;
$blue_2: #2F2E59;

$gray: #D9D9D9;

$shadow_1: 0px 4px 4px rgba(0, 0, 0, .25);

$color_text_base: $white;
$color_link_base:$blue_2;
$body_bg: $blue_1;
//---------------------------------------------colors###

//---------------------------------------------z-index
$z-index: (
	popup : 101,
	header : 100,
	footer : 100
);
//---------------------------------------------z-index###

//---------------------------------------------layout
$page_width: 144rem;

//---------------------------------------------layout###

//---------------------------------------------global values
$gl_radius: 1rem;
//---------------------------------------------global values###

//---------------------------------------------media points
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;
//---------------------------------------------media points

//---------------------------------------------forms
$input_height: 4rem;
$input_offset: 0 1rem;
$input_font_size: 1.2rem;
$input_border_color: transaprent;
$input_border_color_active: transaprent;
$input_placeholder_color: rgba($white, .6);
$input_text_color: $white;
$input_radius: 4px;
//---------------------------------------------forms###