@import "../helpers/helpers_all";

.dropdown {
  @extend %global_flex_block_column_wrap_flex-start_stretch;

  z-index: 100;
  position: absolute;
  top: calc(100% + 1rem);

  padding: 1.8rem 1.2rem;
  width: 100%;
  min-width: 32rem;
  min-height: 30.4rem;

  opacity: 0;
  pointer-events: none;

  background-color: $white;
  border-radius: $gl_radius;
  box-shadow: $shadow_1;

  color: $black;

  transform: translateY(-1rem);
  transition: opacity .2s ease-in-out, transform .2s ease-in-out;

  &.dropdown--active_state {
    opacity: 1;
    transform: translateY(0);
    pointer-events: initial;
  }
}

.dropdown__checkboxes {
  width: 100%;
  padding-right: .2rem;

  &:not(:last-child) {
    padding-bottom: 1.6rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $gray;
  }
}

.dropdown__checkbox {
  &:not(:last-child) {
	  margin-bottom: .6rem;
  }
}

.dropdown__inputs {
  width: 100%;
  margin-top: auto;
}

.dropdown__input {
  &:not(:last-child) {
    mix-blend-mode: .6rem;
  }
}
