// .form_input__label {
// 	@extend %form_el_label;
// }

// .form_input__element {
// }

.input {

}

.input__label {
	display: block;
	margin-bottom: .4rem;
	font-size: 1.3rem;
}

.input__in {
	@extend %form_el_default;
}
