@import "../../helpers/helpers_all";

.converter_controll_bar {
  @extend %global_flex_block_row_wrap_flex-start;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.converter_controll_bar__left {
  @extend %global_flex_block_row_wrap_flex-start;

  margin: 0 -2rem -2rem 0;

  // &:not(:last-child) {
  //   padding-bottom: 2rem;
  // }
}

.converter_controll_bar__right {
  @extend %global_flex_block_row_wrap_flex-start;

  margin: 0 -2rem -2rem auto;

  &:not(:last-child) {
    padding-bottom: 2rem;
  }
}

.converter_controll_bar__field {
  padding: 0 2rem 2rem 0;

  &.converter_controll_bar__field--ofset_mod {
    margin-right: auto;
  }
}

.converter_controll_bar__btn {
  &:not(.converter_controll_bar__btn--style_mod) {
    @extend %accent_btn_1;
    @extend %btn_size_1;
  }

  &.converter_controll_bar__btn--style_mod {
    @extend %secondary_btn_1;
    @extend %btn_size_2;
  }
}
