%form_el_checkbox {
	position: relative;

	padding-right: 3rem;
	display: block;

	font-size: 1.4rem;
	line-height: 1.4;
	color: $black;
	cursor: pointer;

	&:before,&:after {
		position: absolute;
		top: 2px;
		right: 0;
		width: 1.4rem;
		height: 1.4rem;
		cursor:pointer;
	}

	&:before {
		border-radius: 2px;
		border: 1px solid $black;

		content: '';
	}

	&::after {
		opacity: 0;

		width: 1.2rem;
		height: .8rem;
		margin-top: -2px;

		content: url('data:image/svg+xml; base64, PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMyAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMC41IDVMMyA5TDEyLjUgMC41IiBzdHJva2U9IiMyMTQzQkIiLz48L3N2Zz4=');

		input:checked + & {
			opacity: 1
		}
	}

	//--------------------------------------------- Font icon version
	// &:after {
	// 	@extend %icon-check;
	// 	@extend %transition_opacity;

	// 	text-align: center;
	// 	line-height: 2rem;
	// 	opacity: 0;
	// 	color: $black;

	// 	.form_checkbox__element:checked + & {
	// 		opacity: 1;
	// 	}
	// }
}